
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VeriAktarim</title>
</head>
<body>
    <div> 
        <h3>@ViewBag.deneme</h3>
        <h4>@ViewData["deneme2"]</h4><br /> 
        @TempData["data"]
    </div>
</body>
</html>
